@import "bootstrap/scss/bootstrap";
@import "variables";
@import "mixins";
@import "structure";

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: $color-main;
  font-family: "Poppins", sans-serif;
}
